/* Utility to hide scrollbars while preserving scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
